body {
    
    background-image: url('https://eliheredia.github.io/trabajo-web1/img/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
