body {
    
    background-image: url('https://github.com/EliHeredia/trabajo-web1/blob/main/img/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
