body {
    
    background-image: url('https://drive.google.com/file/d/1_scwj-t0AK94jZSR71QeaS6W5ViKIs0F/view?usp=share_link');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
